* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #DEDEDE;
    display: flex;
    min-height: 100vh;
    font-family:sans-serif;
    background-image: url(imagenes/comunalRecepción.jpg);
 background-size: 100vw 100vh;
 background-attachment: fixed;
}

form{
    margin: auto;
    width: 50%;
    max-width: 500px;
    background:#13232f;
    padding: 30px;
    background: rgba(0,0,0,0.7);
    border-radius: 7px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color:#ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid rgb(232, 195, 13);
}

input{
    display:block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}

input[type="submit"] {
    background:linear-gradient(  to right ,#e37f14,#fea900,#fce806) ;
    color:#fff;
    border:0;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom:0;

}

input[type="submit"]:hover{
    opacity: 1;
}

input[type="submit"]:active{
  transform: scale(0.95);
}

@media(min-width){

    form{
        width: ;
    }

}