body{
    margin:0;
    font-family:sans-serif;
    background-image: url(imagenes/comunalRecepción.jpg);
 background-size: 100vw 100vh;
 background-attachment: fixed;
 margin:0;


}

h1{
    color :#fff;
    text-align :center;
}

.form-register{
    width:98%;
    max-width: 500px;
    margin: auto;
    background: rgba(0,0,0,0.7);
    border-radius: 7px;
}

.form-titulo {
    color:#fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size:30px;
    border-top-left-radius:7px ;
    border-top-right-radius: 7px;
    border-bottom: 5px solid rgb(232, 195, 13);
}

.contenedor-inputs{
    padding: 10px 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border:1px solid darkgray;
}
.input-48{
    width: 40%
}

.input-100{
    width: 100%
}

.btn-enviar{
    background:linear-gradient(  to right ,#e37f14,#fea900,#fce806) ;
  color:#fff;
  padding: 10px 40px;
  margin: auto;
  cursor: pointer;
  font-size: 20px;

}

.btn-enviar:active{
    transform: scale(1.05);
}

.form-link{
    width: 100%;
    margin:0;
    text-align: center;
    font-size: 14px;
}
